[defaults]
inventory = inventories/prod/hosts.yml
roles_path = roles
remote_user = deploy
interpreter_python = auto_silent
retry_files_enabled = False
# Saída mais legível nos logs da pipeline
stdout_callback = ansible.builtin.default
callback_result_format = yaml

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
